<% layout("layout/boilerplate.ejs") %>
<h1>Home Page</h1>
<div>
  <a href="/campgrounds/new">Add Campground</a>
</div>
<div>
  <% for(let campground of campgrounds){ %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.Aq0G7zNFBrhrItexBKJGHAHaE8%26pid%3DApi&f=1 "
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= campground.location %> </small>
          </p>
          <a href="/campgrounds/<%= campground.id%>" class="btn btn-primary"
            >Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
<a href="/campgrounds/new">Add a campground</a>
